#messages {
    height: 95vh;
    overflow-y: hidden;
}

body {
    background-color: skyblue;
}

#my-canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

#celestial-bodies {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

#sun {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: goldenrod;
}

#code {
    position: absolute;
    z-index: -1;
    bottom: 5vh;
    left: 16px;
    font-size: 16px;
}
